@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  /* font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(207, 206, 206);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
